<div class="widget">
    <div class="header clearfix">
      <h2 class="totalAmount-header-name" ng-if="vm.isCurrentBillingPeriod">{{'TEXT_TOTAL_BILL_AMOUNT' | translate}}</h2>
      <h2 class="totalAmount-header-name" ng-if="!vm.isCurrentBillingPeriod">{{'TEXT_ACTUAL_TOTAL_BILL_AMOUNT' | translate}}</h2>
    </div>
    <div class="ecbRelativeClass" ng-if="vm.loading">
      <div class="ebLoader">
        <div class="ebLoader-Holder">
          <span class="ebLoader-Dots ebLoader-Dots_color_paleBlue"></span>
        </div>
      </div>
    </div>
    <div ng-if="!vm.nodata && !vm.loading" class="content payments">
      <div class="amount-tile">
        <span class="ebText">
          <sup class="currency-symbol">{{vm.getCurrencySign(vm.billChargesRespdata.currency)}}</sup>
          {{vm.currencyFormatter(vm.totalBillAmount, vm.billChargesRespdata.currency, false)}}
        </span>
      </div>
      <table class="table table-noborder pay-adj-table">
        <tbody>
          <tr>
            <td>{{'TEXT_TOTAL_BALANCE'|translate}}</td>
            <td>{{vm.currencyFormatter(vm.billAmount, vm.billChargesRespdata.currency, false)}}</td>
          </tr>
          <tr>
            <td>{{'TEXT_TOTAL_CHARGES'|translate}}</td>
            <td>{{vm.currencyFormatter(vm.billCharges, vm.billChargesRespdata.currency, false)}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="content payments" ng-if="vm.nodata && !vm.loading">
      <p>{{'TEXT_NO_TOTAL_BILL_AMOUNT' | translate}}</p>
    </div>
  </div>
  