// Change Password Styles

@import "../../../../styles/_variables.scss";
.ecb-changePasswordView {
  .modal-dialog {
    .ecb-changePasswordForm {

      .label-color {
        color: #858585;
      }

      .ng-invalid.ng-touched {
        border-color: $ebColor-error;
      }

      .ng-invalid.ng-touched:focus {
        box-shadow: 0 0 2px 1px $ebColor-error !important;
      }

      .ng-invalid.ng-touched:hover {
        border-color: $ebColor-error !important;
      }

       select:hover {
         border-color: $input-border-focus;
       }      

      .password-details-list {
        type: disc;
        color: #858585;
      }

      .ecb-newPassword,
      .ecb-changePasswordError {
        height : auto;
      }

      .ecb-changePasswordError {

        .alert{
          margin-bottom : 5px;
        }

      }
    }   
  }
}
