<div class="form-group ecb-changePasswordError">
      <div class="col-md-12" ng-show="vm.showError" ng-if="vm.errorMessage == 1">
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ 'CHANGE_PASSWORD_INVALID_OLD_PASSWORD' | translate }}
        </div>
      </div>
      <div class="col-md-12" ng-show="vm.showError" ng-if="vm.errorMessage == 2">
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ 'CHANGE_PASSWORD_INVALID_NEW_PASSWORD' | translate }}
        </div>
      </div>
      <div class="col-md-12" ng-show="vm.showError" ng-if="vm.errorMessage == 3">
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ 'CHANGE_PASSWORD_ACCOUNT_LOCKED' | translate }}
        </div>
      </div>
      <div class="col-md-12" ng-show="vm.showError" ng-if="vm.errorMessage == 4">
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ 'CHANGE_PASSWORD_STRENGTH' | translate }}
        </div>
      </div>
      <div class="col-md-12" ng-show="vm.showError" ng-if="vm.errorMessage == 5">
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ 'CHANGE_PASSWORD_USED_BEFORE' | translate }}
        </div>
      </div>
      <div class="col-md-12" ng-show="vm.showError" ng-if="vm.errorMessage == 6">
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           {{ 'TEXT_COULD_NOT_SAVE_EDIT' | translate }} {{ 'TEXT_SERVER_CONNECTION_FAILED' | translate }}
        </div>
      </div>
      <div class="col-md-12" ng-show="vm.showError" ng-if="vm.errorMessage == 7">
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ 'CHANGE_PASSWORD_FAILED_UPDATE' | translate }}
        </div>
      </div>
  </div>
  <div class="form-group">
   <label for="oldPassword-input" class="col-sm-3 col-xs-3 ebControl-label ebControlLabelRtl">
     {{ 'CHANGE_PASSWORD_TEXT_CURRENT_PASSWORD' | translate }}
   </label>
   <div class="col-sm-9 col-xs-9">
     <span class="blueLine"></span>
     <input name="inputPasswordOld" type="password" id="oldPassword-input"
       class="form-control mvInput ebInput_width_full textBoxHeight"
       placeholder="{{ 'CHANGE_PASSWORD_TEXT_CURRENT_PASSWORD' | translate }}" ng-model="vm.oldPassword"
       autocomplete="off" required />
       <div class="help-block" ng-messages="changePasswordForm.inputPasswordOld.$error" ng-if="changePasswordForm.inputPasswordOld.$touched && changePasswordForm.inputPasswordOld.$dirty">
         <span ng-message="required" class="statusError">
           {{ 'CHANGE_CURRENT_PASSWORD_REQUIRED_ERROR_MSG' | translate }}
         </span>
      </div>
  </div>
  </div>
  <div class="form-group ecb-newPassword">
   <label for="newPassword-input" class="col-sm-3 col-xs-3 ebControl-label ebControlLabelRtl">
     {{ 'CHANGE_PASSWORD_TEXT_NEW_PASSWORD' | translate }}
   </label>
   <div class="col-sm-9 col-xs-9">
     <span class="blueLine"></span>
     <input name="newPassword" type="password" id="newPassword-input"
       class="form-control mvInput ebInput_width_full textBoxHeight"
       placeholder="{{ 'CHANGE_PASSWORD_TEXT_NEW_PASSWORD' | translate }}" ng-model="vm.newPassword" ng-paste="$event.preventDefault();"
       ng-pattern="/^.*(?=.{7,1024})(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).*$/" autocomplete="off" ng-blur="vm.checkValidity(changePasswordForm.newPassword.$dirty, changePasswordForm.verifyPassword.$dirty, 'newPassword')" ng-focus="vm.setForminput()" ng-class="{'ecbInvalidInput': (vm.isInValidInput && vm.placeHolder === 'newPassword')}" required />
    <div class="help-block" ng-messages="changePasswordForm.newPassword.$error"
       ng-if="changePasswordForm.newPassword.$touched && changePasswordForm.newPassword.$dirty">
         <span ng-message="pattern" class="statusError">
           {{ 'CHANGE_PASSWORD_INCORRECT_PATTERN' | translate }}
         </span>
         <span ng-message="required" class="statusError">
           {{ 'CHANGE_PASSWORD_REQUIRED_ERROR_MSG' | translate }}
         </span>
      </div>
      <div class="help-block" ng-if="vm.placeHolder === 'newPassword' && changePasswordForm.newPassword.$valid">
        <span class="statusError" ng-if="(vm.verifyPassword !== vm.newPassword)">
          {{ 'CHANGE_PASSWORD_VERIFY_PASSWORD' | translate }}
        </span>
      </div>
    <ul class="password-details-list">
       <p></p>
       <li> {{ 'CHANGE_PASSWORD_STRENGTH_CONDITION1' | translate }}</li>
       <li> {{ 'CHANGE_PASSWORD_STRENGTH_CONDITION2' | translate }}</li>
       <li> {{ 'CHANGE_PASSWORD_STRENGTH_CONDITION3' | translate }}</li>
     </ul>
    </div>
  </div>
  <div class="form-group">
   <label for="verifyPassword-input" class="col-sm-3 col-xs-3 ebControl-label ebControlLabelRtl">
     {{ 'CHANGE_PASSWORD_TEXT_VERIFY_PASSWORD' | translate }}
   </label>
   <div class="col-sm-9 col-xs-9">
     <span class="blueLine"></span>
     <input name="verifyPassword" type="password" id="verifyPassword-input"
       class="form-control mvInput ebInput_width_full textBoxHeight"
       placeholder="{{ 'CHANGE_PASSWORD_TEXT_VERIFY_PASSWORD' | translate }}" ng-model="vm.verifyPassword" ng-paste="$event.preventDefault();"
       autocomplete="off" ng-blur="vm.checkValidity(changePasswordForm.newPassword.$dirty, changePasswordForm.verifyPassword.$dirty, 'verifyPassword')" ng-focus="vm.setForminput()" ng-class="{'ecbInvalidInput': (vm.isInValidInput && vm.placeHolder === 'verifyPassword')}" required/>
      <div class="help-block" ng-messages="changePasswordForm.verifyPassword.$error"
           ng-if="changePasswordForm.verifyPassword.$touched && changePasswordForm.verifyPassword.$dirty">
        <span ng-message="required" class="statusError">
          {{ 'CHANGE_PASSWORD_VERIFY_PASSWORD_REQUIRED_ERROR_MSG' | translate }}
        </span>
      </div>
      <div class="help-block" ng-if="vm.placeHolder === 'verifyPassword' && changePasswordForm.verifyPassword.$valid">
        <span class="statusError" ng-if="(vm.verifyPassword !== vm.newPassword)">
          {{ 'CHANGE_PASSWORD_VERIFY_PASSWORD' | translate }}
        </span>
      </div>
    </div>
  </div>
  <div class="ecb-requiredFeild">
    <label class="text-right">
      {{ 'TEXT_REQUIRED_FIELD' | translate }}
    </label>
    <span class="blueLine ecb-requiredFeildAdjustment"></span>
  </div>
