<form name="changePasswordForm" class="ecb-changePasswordForm form-horizontal modalFormPadding" ecb-aside-modal ng-submit="vm.save(changePasswordForm)" novalidate>
  <div class="modal-header">
    <h3 id="myModalLabel" class="modal-title noBorder">
      {{ 'CHANGE_PASSWORD_TITLE' | translate }}
    </h3>
    <div class="pull-{{vm.layoutRightDirection}}">
      <button type="submit" class="btn ebBtn ebBtn_color_darkBlue" ng-disabled="changePasswordForm.$invalid || (vm.verifyPassword !== vm.newPassword)" tabindex="2">
        {{ 'TEXT_SAVE' | translate }}
      </button>
      <button type="button" class="btn ebBtn ebBtn-default" ng-click="vm.cancel()" tabindex="3">
        {{ 'TEXT_CANCEL' | translate }}
      </button>
    </div>
  </div>
  <div class="ecbRelativeClass" ng-if="vm.loading">
    <div class="ebLoader">
      <div class="ebLoader-Holder">
        <span class="ebLoader-Dots ebLoader-Dots_color_paleBlue"></span>
      </div>
    </div>
  </div>
  <div class="modal-body clearfix" ng-if="!vm.loading"
       ng-include="'app/components/content/changePassword/changePassword-inputs.html'">
  </div>
</form>
