<div class="ebLoader" ng-if="sm.loading">
  <div class="ebLoader-Holder">
    <span class="ebLoader-Dots ebLoader-Dots_color_paleBlue"></span>
  </div>
</div>
<form name="forgotPasswordForm" class="form-horizontal" ng-submit="sm.sendForgotPassword()" novalidate>
    <div class="form-group">
      <div class="col-md-12">
        <input id="forgotPasswordUsername" name="forgotPasswordUsername" type="text" class="input input-lg" tabindex="1" placeholder="{{ 'FORGOTPASSWORD_INSTRUCTION_INPUT_USERNAME' | translate }}" pattern="[a-zA-Z0-9_]+" required ng-model="sm.forgotPasswordUsername" ecb-set-focus="true" />
        <div class="help-block" ng-messages="forgotPasswordForm.forgotPasswordUsername.$error" ng-if="forgotPasswordForm.forgotPasswordUsername.$invalid && forgotPasswordForm.forgotPasswordUsername.$dirty">
          <span ng-message="pattern" class="statusError">
            {{ 'FORGOTPASSWORD_INSTRUCTION_VALIDATION_PATTERN_USERNAME' | translate }}
          </span>
          <span ng-message="required" class="statusError">
            {{ 'FORGOTPASSWORD_INSTRUCTION_VALIDATION_REQUIRED_USERNAME' | translate }}
          </span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12" ng-show="sm.forgotPasswordShowError" ng-if="sm.forgotPasswordErrorMessage == 1">
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span class="ecb-dangerClose" aria-hidden="true">&times;</span></button>
          {{ 'FORGOTPASSWORD_INSTRUCTION_WRONG_USERNAME_EMAIL' | translate }}
        </div>
      </div>
      <div class="col-md-12" ng-show="sm.forgotPasswordShowError" ng-if="sm.forgotPasswordErrorMessage == 2">
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span class="ecb-dangerClose" aria-hidden="true">&times;</span></button>
          {{ 'FORGOTPASSWORD_INSTRUCTION_SENDING_EMAIL_ERROR' | translate }}
        </div>
      </div>
      <div class="col-md-12" ng-show="sm.forgotPasswordShowError" ng-if="sm.forgotPasswordErrorMessage == 3">
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span class="ecb-dangerClose" aria-hidden="true">&times;</span></button>
          {{ 'FORGOTPASSWORD_INSTRUCTION_PROCESSING_ERROR' | translate }}
        </div>
      </div>
      <div class="col-md-12" ng-show="sm.forgotPasswordSuccess" ng-if="sm.forgotPasswordErrorMessage == 0">
        <div class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close ecb-infoClose"><span class="ecb-infoClose" aria-hidden="true">&times;</span></button>
          {{ 'FORGOTPASSWORD_INSTRUCTION_EMAIL_SENT_SUCCESSFULLY' | translate }}
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-4 col-sm-4 col-md-4" ng-show="sm.forgotPasswordSuccess">
        <button class="btn btn-primary btn-lg" tabindex="3" type="button" ng-disabled="forgotPasswordForm.$invalid" ng-click="sm.backtoLoginForm(forgotPasswordForm)">
          <b> {{ 'FORGOTPASSWORD_INSTRUCTION_BACKTO_LOGINFORM' | translate }}</b>
        </button>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4" ng-hide="sm.forgotPasswordSuccess">
        <button type="submit" class="btn btn-primary btn-lg" tabindex="3" ng-disabled="forgotPasswordForm.$invalid">
          {{ 'FORGOTPASSWORD_INSTRUCTION_INPUT_SEND' | translate }}
        </button>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4"></div>
      <div class="col-xs-4 col-sm-4 col-md-4" ng-hide="sm.forgotPasswordSuccess">
        <button class="btn btn-link pull-right ecb-backtoLoginLink" type="button" tabindex="3" ng-click="sm.backtoLoginForm(forgotPasswordForm)">
          <b> {{ 'FORGOTPASSWORD_INSTRUCTION_BACKTO_LOGINFORM' | translate }}</b>
        </button>
      </div>
    </div>
  </form>
  <div class="ebDialogBox-secondaryText">
    <p>{{ 'FORGOTPASSWORD_INSTRUCTION_USERNAME_TO_EMAIL_INSTRUCTION' | translate }}</p>
  </div>
  <div ng-if="sm.loading" class="ecb-widgetBackdrop"></div>
