body[dir='RTL'] .ecb-rtl:after {
	right: -25px;
}

body[dir='RTL'] .ecb-rtlNoRightPAdding {
	padding-right: 0px;
}

body[dir='RTL']  .ecb-paymentSetup-textAlign{
	text-align: left;
}
.ecb-radio-align {
	margin-right: 15px !important;
}

@media (max-width: 767px){
	.ecb-Nomargin{
		margin: 0px !important;
	}
}

@media screen and (max-device-width: 736px) and (min-device-width: 568px) and (orientation: landscape) {
	.ecb-paymentSetup-formAlign{
		margin-left: 0px;
	}
}

@media(max-width: 767px) {
  body[dir='LTR'] label.textleft {
      text-align: left !important;
    }
    body[dir='RTL'] label.textleft {
      text-align: right !important;
    }
}

body[dir='LTR'] .paymentSetupLabel {
  padding: 0 6px;
}
