<div class="ecb-resetPasswordView">
  <div class="ecb-resetPasswordPanel panel col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
    <div class="panel-heading">
      <h3>
        {{ 'RESETPASSWORD_HEADING' | translate }}
      </h3>
    </div>
    <div class="panel-body">
      <form name="resetPasswordForm" class="form-horizontal" novalidate method="POST">
        <div class="form-group">
         <label for="password" class="col-sm-3 ebControl-label label-color">
           {{ 'RESETPASSWORD_NEW_PASSWORD' | translate }}
         </label>
         <div class="col-sm-9 textboxSpace">
           <span class="blueLine"></span>
           <input name="inputPassword" type="password" id="inputPassword"
             class="form-control mvInput ebInput_width_full textBoxHeight"
             placeholder="{{ 'RESETPASSWORD_TEXT_PASSWORD' | translate }}" ng-model="vm.resetPassword" ng-paste="$event.preventDefault();"
             ng-pattern="/^.*(?=.{7,1024})(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).*$/" autocomplete="off" ng-blur="vm.checkValidity(resetPasswordForm.inputPassword.$dirty, resetPasswordForm.inputPassword.$dirty, 'newPassword')"
            ng-focus="vm.setForminput()" ng-class="{'ecbInvalidInput': (vm.isInValidInput && vm.placeHolder === 'newPassword')}" required />
            <div class="help-block" ng-messages="resetPasswordForm.inputPassword.$error"
             ng-if="resetPasswordForm.inputPassword.$touched && resetPasswordForm.inputPassword.$dirty">
               <span ng-message="pattern" class="statusError">
                 <label class="ecb-exclamation">{{ 'RESETPASSWORD_INCORRECT_PATTERN' | translate }}</label>
               </span>
               <span ng-message="required" class="statusError">
                 <label class="ecb-exclamation">{{ 'RESETPASSWORD_REQUIRED_ERROR_MSG' | translate }}</label>
               </span>
            </div>
            <div class="help-block" ng-if="vm.placeHolder === 'newPassword' && resetPasswordForm.inputPassword.$valid">
              <span class="statusError" ng-if="(vm.resetPassword !== vm.resetConfirmPassword)">
                {{ 'RESETPASSWORD_VERIFY_PASSWORD' | translate }}
              </span>
            </div>
           <ul class="ecb-resetPasswordDetails">
             <p></p>
             <li>{{ 'RESETPASSWORD_STRENGTH_CONDITION1' | translate }}</li>
             <li>{{ 'RESETPASSWORD_STRENGTH_CONDITION2' | translate }}</li>
             <li>{{ 'RESETPASSWORD_STRENGTH_CONDITION3' | translate }}</li>
           </ul>
          </div>
       </div>
        <div class="form-group">
         <label for="confirmPassword" class="col-sm-3 ebControl-label label-color">
           {{ 'RESETPASSWORD_CONFIRM_PASSWORD' | translate }}
         </label>
         <div class="col-sm-9 textboxSpace">
           <span class="blueLine"></span>
           <input name="confirmPassword" type="password"
             class="form-control mvInput ebInput_width_full textBoxHeight"
             placeholder="{{ 'RESETPASSWORD_TEXT_VERIFY_PASSWORD' | translate }}" ng-model="vm.resetConfirmPassword" ng-paste="$event.preventDefault();"
             autocomplete="off" required ng-blur="vm.checkValidity(resetPasswordForm.inputPassword.$dirty, resetPasswordForm.confirmPassword.$dirty, 'verifyPassword')"
            ng-focus="vm.setForminput()" ng-class="{'ecbInvalidInput': (vm.isInValidInput && vm.placeHolder === 'verifyPassword')}" />
            <div class="help-block" ng-messages="resetPasswordForm.confirmPassword.$error"
                 ng-if="resetPasswordForm.confirmPassword.$touched && resetPasswordForm.confirmPassword.$dirty">
              <span ng-message="required" class="statusError">
                <label class="ecb-exclamation">{{ 'RESETPASSWORD_VERIFY_PASSWORD_REQUIRED_ERROR_MSG' | translate }}</label>
              </span>
            </div>
            <div class="help-block" ng-if="vm.placeHolder === 'verifyPassword' && resetPasswordForm.confirmPassword.$valid">
              <span class="statusError"ng-if="(vm.resetPassword !== vm.resetConfirmPassword)">
                {{ 'RESETPASSWORD_VERIFY_PASSWORD' | translate }}
              </span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <span class="blueLine"></span>
              <label class="col-sm-3 ebControl-label pull-right label-color">
                {{ 'RESETPASSWORD_TEXT_REQUIRED_FIELD' | translate }}
              </label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" ng-if="vm.usedPasswordError">
            <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span class="ecb-dangerClose" aria-hidden="true">&times;</span></button>
              {{ 'RESETPASSWORD_USED_BEFORE' | translate }}
            </div>
          </div>
        </div>
        <div class="ecb-resetPasswordFooter noBorder">
          <button id="submitButton" type="btn" class="btn ebBtn ebBtn_color_darkBlue" ng-disabled="resetPasswordForm.$invalid || vm.isSaving" ng-click="vm.resetPasswordClick()" >
            {{ 'RESETPASSWORD_SAVE_AND_LOGIN' | translate }}
          </button>
          <button type="button" class="btn ebBtn ebBtn-default" ng-click="vm.cancel()" >
            {{ 'RESETPASSWORD_INPUT_CANCEL' | translate }}
          </button>
          <div class="ecb-resetPasswordSpinner" ng-controller="resetPasswordController" ng-show="vm.loading">
            <div id="ecb-resetLoaderContainer">
              <div class="ebLoader-Dots ebLoader-Dots_color_paleBlue"></div>
            </div>
          </div>
          <div class="ecb-resetPasswordCopyright ecbCopyRight">
            {{ 'LOGIN_COPYRIGHT' | translate }}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
