// Sign Up Styles

@import "../../../../styles/_variables.scss";

.ecb-resetPasswordView {
  position: fixed;
  top: 0;
  left: 0;
  background: url('/images/login-view-background.jpg');
  overflow: auto;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;

  .ecb-resetPasswordPanel {
    background-color: white;
    top: 15%;

    .label-color {
      color: #858585;
    }

    .ng-invalid.ng-touched {
      border-color: $ebColor-error;
    }

    .ng-invalid.ng-touched:focus {
      box-shadow: 0 0 2px 1px $ebColor-error !important;
    }

    .ng-invalid.ng-touched:hover {
      border-color: $ebColor-error !important;
    }

     select:hover {
       border-color: $input-border-focus;
     }

    .ecb-resetPasswordFooter {
      text-align: center;
      padding: 10px 0;
      background-color:#F2F2F2;
      margin-bottom: 10px;
    }

    .ecb-resetPasswordDetails {
      type: disc;
      color: #858585;
      line-height: 1.5rem;
    }

    .ecb-resetPasswordCopyright {
      color: #b0b0af;
      font-size: 10px;
      margin-bottom: -30px;
      margin-top: 15px;
    }
  }
}

/* Spinner */

.ecb-resetPasswordSpinner{
    position: relative;
    top: 10px;
    left: -15px;
}

#ecb-resetLoaderContainer{
  width:146px;
  height: 16px;
  margin:auto;
  padding-left: 30px;
}

/* Spinner End */

.ecb-exclamation{
  margin-bottom: 0px !important;
  vertical-align: text-top;
  font-weight: normal !important;
}
