<div class="expired-password-view">
  <div class="expired-password-panel panel-default centered col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
    <div class="panel-heading">
      <h3><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        {{ 'EXPIRED_PASSWORD_TITLE' | translate }}
      </h3>
    </div>
    <div class="ecbRelativeClass" ng-if="vm.loading">
      <div class="ebLoader">
        <div class="ebLoader-Holder">
          <span class="ebLoader-Dots ebLoader-Dots_color_paleBlue"></span>
        </div>
      </div>
    </div>
    <div class="panel-body" ng-if="!vm.loading">
      <form name="expiredPasswordForm" class="form-horizontal" ng-submit="vm.changePassword(expiredPasswordForm)" novalidate method="POST">
        <div class="form-group">
          <div class="col-md-12" ng-show="vm.showError" ng-if="vm.errorMessage == 1">
            <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              {{ 'EXPIRED_INVALID_OLD_PASSWORD' | translate }}
            </div>
          </div>
          <div class="col-md-12" ng-show="vm.showError" ng-if="vm.errorMessage == 2">
            <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              {{ 'EXPIRED_INVALID_NEW_PASSWORD' | translate }}
            </div>
          </div>
          <div class="col-md-12" ng-show="vm.showError" ng-if="vm.errorMessage == 3">
            <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              {{ 'EXPIRED_ACCOUNT_LOCKED' | translate }}
            </div>
          </div>
          <div class="col-md-12" ng-show="vm.showError" ng-if="vm.errorMessage == 4">
            <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              {{ 'EXPIRED_PASSWORD_STRENGTH' | translate }}
            </div>
          </div>
          <div class="col-md-12" ng-show="vm.showError" ng-if="vm.errorMessage == 5">
            <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              {{ 'EXPIRED_PASSWORD_USED_BEFORE' | translate }}
            </div>
          </div>
          <div class="col-md-12" ng-show="vm.showError" ng-if="vm.errorMessage == 6">
            <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
               {{ 'TEXT_COULD_NOT_SAVE_EDIT' | translate }} {{ 'TEXT_SERVER_CONNECTION_FAILED' | translate }}
            </div>
          </div>
          <div class="col-md-12" ng-show="vm.showError" ng-if="vm.errorMessage == 7">
            <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              {{ 'EXPIRED_FAILED_UPDATE' | translate }}
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="userName" class="col-xs-3 ebControl-label ebControlLabelRtl">
            {{ 'EXPIRED_TEXT_USERNAME' | translate }}
          </label>
          <div class="col-xs-9 textboxSpace">
            <span class="ebText">{{ vm.userName() }}</span>
          </div>
        </div>
        <div class="form-group">
          <label for="oldPassword" class="col-xs-3 ebControl-label ebControlLabelRtl">
            {{ 'EXPIRED_OLD_PASSWORD' | translate }}
          </label>
          <div class="col-xs-9 textboxSpace">
            <span class="blueLine"></span>
            <input name="oldPassword" type="password" class="form-control mvInput ebInput_width_full textBoxHeight"
              placeholder="{{ 'EXPIRED_OLD_PASSWORD' | translate }}" ng-model="vm.expiredPasswordData.oldPassword" autocomplete="off" required ecb-set-focus="true"/>
            <div class="help-block"
              ng-messages="expiredPasswordForm.oldPassword.$error"
              ng-if="expiredPasswordForm.oldPassword.$dirty">
              <span ng-message="required" class="statusError">
                {{ 'EXPIRED_OLD_PASSWORD_REQUIRED_ERROR_MSG' | translate }}
              </span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="col-xs-3 ebControl-label ebControlLabelRtl">
            {{ 'EXPIRED_TEXT_PASSWORD' | translate }}
          </label>
          <div class="col-xs-9 textboxSpace">
            <span class="blueLine"></span>
            <input name="inputPassword" type="password" id="inputPassword"
                   class="form-control mvInput ebInput_width_full textBoxHeight"
                   placeholder="{{ 'EXPIRED_TEXT_PASSWORD' | translate }}" autocomplete="off" ng-model="vm.expiredPasswordData.newPassword" ng-paste="$event.preventDefault();"
                   ng-pattern="/^.*(?=.{7,1024})(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).*$/" ng-blur="vm.checkValidity(expiredPasswordForm.inputPassword.$dirty, expiredPasswordForm.conPassword.$dirty, 'newPassword')"
                  ng-focus="vm.setForminput()" ng-class="{'ecbInvalidInput': (vm.isInValidInput && vm.placeHolder === 'newPassword')}" required />
            <div class="help-block" ng-messages="expiredPasswordForm.inputPassword.$error"
                 ng-if="expiredPasswordForm.inputPassword.$touched && expiredPasswordForm.inputPassword.$dirty">
               <span ng-message="pattern" class="statusError">
                 {{ 'EXPIRED_PASSWORD_INCORRECT_PATTERN' | translate }}
               </span>
               <span ng-message="required" class="statusError">
                 {{ 'EXPIRED_PASSWORD_REQUIRED_ERROR_MSG' | translate }}
               </span>
            </div>
            <div class="help-block" ng-if="vm.placeHolder === 'newPassword' && expiredPasswordForm.inputPassword.$valid">
              <span class="statusError" ng-if="(vm.expiredPasswordData.conPassword !== vm.expiredPasswordData.newPassword)">
                {{ 'EXPIRED_VERIFY_PASSWORD' | translate }}
              </span>
            </div>
            <ul class="password-details-list">
              <p></p>
              <li> {{ 'EXPIRED_PASSWORD_STRENGTH_CONDITION1' | translate }}</li>
              <li> {{ 'EXPIRED_PASSWORD_STRENGTH_CONDITION2' | translate }}</li>
              <li> {{ 'EXPIRED_PASSWORD_STRENGTH_CONDITION3' | translate }}</li>
            </ul>
          </div>
        </div>
        <div class="form-group">
          <label for="conPassword" class="col-xs-3 ebControl-label ebControlLabelRtl">
            {{ 'EXPIRED_TEXT_VERIFY_PASSWORD' | translate }}
          </label>
          <div class="col-xs-9 textboxSpace">
            <span class="blueLine"></span>
            <input name="conPassword" type="password"
                   class="form-control mvInput ebInput_width_full textBoxHeight"
                   placeholder="{{ 'EXPIRED_TEXT_VERIFY_PASSWORD' | translate }}" autocomplete="off" ng-model="vm.expiredPasswordData.conPassword" ng-paste="$event.preventDefault();"
                  ng-blur="vm.checkValidity(expiredPasswordForm.inputPassword.$dirty, expiredPasswordForm.conPassword.$dirty, 'verifyPassword')"
                  ng-focus="vm.setForminput()" ng-class="{'ecbInvalidInput': (vm.isInValidInput && vm.placeHolder === 'verifyPassword')}" required/>
            <div class="help-block" ng-messages="expiredPasswordForm.conPassword.$error"
                 ng-if="expiredPasswordForm.conPassword.$touched && expiredPasswordForm.conPassword.$dirty">
              <span ng-message="required" class="statusError">
                {{ 'EXPIRED_VERIFY_PASSWORD_REQUIRED_ERROR_MSG' | translate }}
              </span>
            </div>
            <div class="help-block" ng-if="vm.placeHolder === 'verifyPassword' && expiredPasswordForm.conPassword.$valid">
              <span class="statusError" ng-if="(vm.expiredPasswordData.conPassword !== vm.expiredPasswordData.newPassword)">
                {{ 'EXPIRED_VERIFY_PASSWORD' | translate }}
              </span>
            </div>
          </div>
        </div>
        <div class="form-group" ng-if="vm.layoutLeftDirection === 'left'">
          <div class="col-sm-12">
            <span class="blueLine"></span>
            <label class="col-sm-3 ebControl-label pull-right label-color">
              {{ 'EXPIRED_TEXT_REQUIRED_FIELD' | translate }}
            </label>
          </div>
        </div>
        <div class="ecb-requiredFeild" ng-if="vm.layoutLeftDirection === 'right'">
          <div class="col-xs-9 textboxSpace">
            <label>
              {{'EXPIRED_TEXT_REQUIRED_FIELD' | translate }}
            </label>
            <span class="blueLine signupBlueline"></span>
          </div>
        </div>
        <div class="panel-footer noBorder">
          <button id="submitButton" type="btn" class="btn ebBtn ebBtn_color_darkBlue" ng-disabled="expiredPasswordForm.$invalid ||(vm.expiredPasswordData.conPassword !== vm.expiredPasswordData.newPassword)">
            {{ 'EXPIRED_INPUT_SUBMIT' | translate }}
          </button>
          <button type="button" class="btn ebBtn ebBtn-default" ng-click="vm.cancel()" >
            {{ 'EXPIRED_INPUT_CANCEL' | translate }}
          </button>
          <div class="expired-password-copyright ecbCopyRight">
            {{ 'LOGIN_COPYRIGHT' | translate }}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
