.ecb-accountSettings {
  .ecb-userSelectedTimeZone {
    color: #ababab !important;
    font-weight: normal;
    width:100%;
  }
  .ecb-userSettings-editIcon {
    padding-left: 0 !important;
  }  
}
.ecb-userSettings {
    margin-right: 5px !important;
}
